<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!-- <script src="https://cdn.bootcss.com/tween.js/r14/Tween.min.js"></script> -->
<script src="https://cdn.bootcss.com/three.js/90/three.min.js"></script>
<script src="https://cdn.bootcss.com/stats.js/r17/Stats.min.js"></script>
<script src="https://cdn.bootcss.com/dat-gui/0.7.1/dat.gui.min.js"></script>
</head>
<body>
    <div class="m-wrap">
        <button class="btn-pause">pause</button>
        <button class="btn-play">play</button>
    </div>
</body>
</html>